@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
  }
}

@layer utilities {
  .visually-hidden { 
    @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
  }
}

img {margin: auto;}
img[alt=small] { width: 100px; }
img[alt=medium] { width: 200px; }
img[alt=large] { width: 250px; }
img[alt=xlarge] { width: 400px; }
img[alt=xxlarge] { width: 700px; }
img[alt=xxxlarge] { width: 900px; }
